.vscode/

node_modules

# Ignore everything inside input
input/*

# Keep example image
!input/images/example/
!input/videos/example/

# Ignore everything inside output
output/*

# Keep example output folder
!output/images/example/
!output/videos/example/

# macOS
.DS_Store