.vscode/
node_modules/

# Ignore input contents
input/*

# Re-allow folders
!input/images/
!input/videos/

# Ignore contents again
input/images/*
input/videos/*

# Keep example folders
!input/images/example/
!input/videos/example/

# Ignore output contents
output/*

# Re-allow folders
!output/images/
!output/videos/

# Ignore contents again
output/images/*
output/videos/*

# Keep example folders
!output/images/example/
!output/videos/example/

# macOS
.DS_Store